#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with python2 --parallel

override_dh_auto_configure:
	dh_auto_configure
	dh_auto_configure --sourcedirectory=bindings/python --buildsystem=python_distutils

override_dh_auto_build:
	dh_auto_build
	dh_auto_build --sourcedirectory=bindings/python --buildsystem=python_distutils

override_dh_auto_install:
	dh_auto_install
	dh_auto_install --sourcedirectory=bindings/python --buildsystem=python_distutils

override_dh_install:
	dh_install --fail-missing
